/* =========================================
   BARRA SUPERIOR
========================================= */
.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    align-items: center;

    width: 100%;
    padding: 10px 20px;
    z-index: 1;

    box-sizing: border-box;
    background-color: #3b383884;
    color: #f1eeee;
}

.topbar-logo {
    justify-self: start;
    /* background: white; */
    margin-left: 25px;
}

.topbar-logo img {
    height: 40px;
}

.topbar-search {
    justify-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.topbar-search input {
    width: 60%;
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.topbar-right {
    justify-self: end;
    display: flex;
    align-items: center;
}

.topbar-right a {
    margin-left: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f1eeee;
    font-weight: bold;
    transition: all 0.3s ease;
}

.topbar-right a:hover {
    text-decoration: underline;
    color: #8cb4ff;
}

.topbar-right img {
    height: 40px;
}

/* =========================================
   BARRA LATERAL
========================================= */
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;

    top: 100;
    width: 260px;
    height: 100vh;
    padding-top: 100px;

    background-color: #4b4a4acd;

    align-items: start;
}

.element, .elementTitle {
    color: #f1eeee;
    font-size: auto;
    padding: 6px 15px;
    border-left: 2px solid #f1eeee;
    cursor: pointer;
    margin-left: 50px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.elementTitle {
    display: flex; 
    font-size: 25px; 
    margin-left: 33px; 
    border-left: none;
}

.element:hover, .elementTitle:hover {
    color: #8cb4ff;
    border-left: 2px solid #8cb4ff;
}

.opc-org, .opc-asist {
    display: flex;
    flex-direction: column;
}